/* Mohammad AbuDayeh V1.1 ----------------------------------------------

/*- Body --------------------------------------------------------------*/
html, body {background-color: #f5f5f5;}

/*- Loading -----------------------------------------------------------*/
#loading {
  /*pre-loader*/
  background-color: #06A763;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5001;
  margin-top: 0;
  top: 0; }
  #loading #loading-center {
    /*pre-loader positioning*/
    width: 100%;
    height: 100%;
    position: relative; }
  #loading #loading-center-absolute {
    /*pre-loader positioning*/
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 271px;
    margin-top: -123px;
    margin-left: -136px; }
  #loading .text-holder {
    /*pre-loader text*/
    width: 100%;
    position: absolute;
    color: #fff;
    top: 62%; }
    #loading .text-holder h2 {
      /*name*/
      padding: 0;
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
    #loading .text-holder h6 {
      /*detail*/
      font-size: 16px;
      padding: 0;
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
  #loading .box-holder {
    /*pre-loader box*/
    position: absolute;
    top: 42%;
    left: 45%; }
    #loading .box-holder .load-box {
      /*outer box*/
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      border: 4px solid #fff;
      top: 50%;
      animation: loader 2s infinite ease;
      -webkit-animation: loader 2s infinite ease;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      #loading .box-holder .load-box .box-inner {
        /*inner box*/
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #1976D2;
        animation: loader-inner 2s infinite ease-in;
        -webkit-animation: loader-inner 2s infinite ease-in; }
  @-webkit-keyframes loader {
    /*loader animation*/
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    25% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
    50% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
    75% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg); }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg); } }
  @keyframes loader {
    /*loader animation*/
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg); }
    25% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
    50% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
    75% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg); }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg); } }
  @-webkit-keyframes loader-inner {
    /*loader-inner animation*/
    0% {
      height: 0; }
    25% {
      height: 0; }
    50% {
      height: 100%; }
    75% {
      height: 100%; }
    100% {
      height: 0; } }
  @keyframes loader-inner {
    /*loader-inner animation*/
    0% {
      height: 0; }
    25% {
      height: 0; }
    50% {
      height: 100%; }
    75% {
      height: 100%; }
    100% {
      height: 0; } }

/*- Single Background -------------------------------------------------*/
.single-background{position: absolute;display:block;width:100%;height:370px;background:url(https://abudayeh.me/images/background.png) no-repeat;background-size:cover;background-position:center center;background-attachment:fixed;}

/*- Single Background -------------------------------------------------*/
.navbar {
  margin-top: 50px;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 0.25rem;}
  #button-navbar button{
  	color: #fff;
    background-color: #4ba764;
    border: 1px solid rgba(0,0,0,.125);
  }
  #button-navbar button:hover{
    background-color: #046c40;
  }
  #sidebar {
    width: 210px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #4ba764;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);}
    #sidebar.active {
        left: 0;}
      #dismiss {
      	  border-radius: .25rem;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background: #4ba764;
          position: absolute;
          top: 20px;
          right: 10px;
          cursor: pointer;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;}
          #dismiss:hover {
              background: #fff;
              color: #046c40;}
    #sidebar .sidebar-header {
      padding: 20px;
      background: #046c40;}
    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #046c40;}
      #sidebar ul p {
      color: #fff;
      padding: 10px;}
      #sidebar ul li a {
          padding: 10px;
          font-size: 1.1em;
          display: block;
      	  color: #FFF;
      	  font-size: 1rem;
      	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);}
        #sidebar ul li a:hover {
            color: #FFF;
            background: #046c40;
        	text-decoration: none;}
      #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #046c40;}
        ul.CTAs a {
            text-align: center;
            display: block;}
        a.article,a.article:hover {
            background: #046c40 !important;
            color: #fff !important;}
  .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;}
    .overlay.active {
      display: block;
      opacity: 1;}
  	.nav-linkNew{
  	color: #fff !important;
  	padding: .2rem 1rem;
    background: #2076d2;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }

/*- Card ----------------------------------------------------------*/
.card {
  margin: 8px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
  .card .card-content {
    padding: 20px;}

/*- HEADER  -------------------------------------------------------*/
#home-page{margin-top:40px;}
  #v-card {
    overflow: hidden;
    background: #06A763;
    }
  .profile {
    position: absolute;
    right: 0;
    z-index: 1; }
    .profile img {
      width: 350px;
      height: auto; }
    .profile .slant {
      position: absolute;
      top: 0;
      border-style: dashed;
      border-width: 350px 0 0 150px;
      border-color: transparent transparent transparent #06A763; }
  .My-Name{
    font-size: 27px;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
  .Specialization{
    font-weight: 300;
    margin-top: -10px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
  .General-Information ul{
    padding: 10px 0;}
    .General-Information ul>li{
      padding: 3px 0;
      background-color: #4ba76400;
      border:none;
      font-size: 15px;
      color: #ffffff;}
    .General-Information ul>li a{
      color: #ffffff;
      text-decoration:none;}
    .General-Information ul>li span i{
      font-size: 20px;}
  .Social-Media .fab {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    box-sizing: unset;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);}
    .Social-Media .fab:hover {
      opacity: 0.7;
  	  -webkit-transform: rotate(360deg);
      transform: rotate(360deg);}
      .Social-Media .fa-facebook-f {
        background: #3B5998;
        color: white;}
      .Social-Media .fa-twitter {
        background: #55ACEE;
        color: white;}
      .Social-Media .fa-github {
        background: black;
        color: white;}
      .Social-Media .fa-linkedin-in {
        background: #007bb5;
        color: white;}
  @media screen and (max-width: 767px) {
    #v-card {
      position: relative;
      width: 100%;
      height: auto;
      overflow: visible;
      z-index: 1;
      top: 34px;
      padding-bottom: 40px;}
    .profile {
      position: absolute;
      bottom: 85%;
      left: 0;
      width: 150px;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      z-index: 1;
      background-color: transparent; }
      .profile img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      .profile .slant {
        display: none;
        opacity: 0;
        overflow: hidden; }
    .My-Name {
      font-size: 30px;
      max-width: 100%;
      text-align: center;
      margin-top: 38px; }
    .Specialization {
      max-width: 100%;
      text-align: center; }
    .Social-Media {
      display: table;
      margin: 0 auto;
      max-width: 100%;
      padding: 0; }
    .General-Information {
      display: table;
      max-width: 100%;
      padding: 0;
      margin: 0 auto 9px; }
    }

/*- About -------------------------------------------------------------*/
#about{
    text-align: center;}
    #about-card p{
      padding: 20px;
  	  color: #757575;
  	  border-block-end: inherit;}
    #about .about-btn .btn {
      margin-bottom: 15px;
      background: #06A763;
      color: #ffffff;
      width: 150px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
      #about .about-btn .btn:hover {
        background: #046c40; }

/*- Education ---------------------------------------------------------*/
.section-title h4{
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 .912rem;
  margin-bottom: 30px;
  color: #929a94;
  font-weight: 700;
}
#timeline-education {
  position: relative; }
  #timeline-education:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 50%;
    height: 99.5%;
    width: 4px;
    opacity: 0.3;
    background: #06A763; }
  .timeline-block {
    position: relative; }
    .timeline-block::after {
      clear: both;
      content: "";
      display: table; }
    .timeline-block:first-child {
      margin-top: 0; }
    .timeline-block:last-child {
      margin-bottom: 0; }
    .timeline-block .card-content {
      padding: 20px; }
      .timelineNew a{
		text-decoration: none;
		color: #000;
      }
      .timeline-block .card-content p {
        margin-top: 13px;
        text-align: left;
    	color: #757575;
        font-size: 15px;}
      .timeline-block .card-content .modal-dot {
        outline: 0;
        font-size: 20px; }
        .timeline-block .card-content .modal-dot:hover, .timeline-block .card-content .modal-dot:focus {
          color: #12579b; }
    .timeline-block .timeline-dot {
      /*timeline dot*/
      background: #06A763;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      z-index: 2;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 5px;
      right: 2%; }
      .timeline-block .timeline-dot i {
        /*dot icon*/
        text-align: center;
        font-size: 24px;
        margin-top: 26%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
      .timeline-block .timeline-dot h6 {
        /*dot text*/
        padding: 0;
        font-size: 30px;
        font-weight: bold;
        margin-top: 8px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
    .timeline-block .timeline-content {
      /*each timeline content*/
      position: relative;
      background: #fff;
      margin-right: 0;
      z-index: 1;
      margin-bottom: 5px;
      border-left: 5px solid #1976D2; }
      .timeline-block .timeline-content::before {
        /*horizontal line*/
        content: '';
        width: 58px;
        height: 4px;
        position: absolute;
        top: 26px;
        left: 100%;
        z-index: -2;
        opacity: 0.4;
        background: #06A763; }
      .timeline-block .timeline-content::after {
        /*horizontal line*/
        clear: both;
        content: "";
        display: table; }
      .timeline-block .timeline-content .timeline-title {
        /*timeline blocks title*/
        max-width: 84%; }
      .timeline-block .timeline-content .timeline-info a {
        text-decoration:none;
    	color: #2076d2;}
        .timeline-block .timeline-content .timeline-info h6 {
          /*subject or institution*/
          line-height: 12px; }
          .timeline-block .timeline-content .timeline-info h6 small {
            /*time*/
            color: inherit; }
      .modal-headerNew .close{
      	margin:0;
      	color: red;
      	padding: 0rem 1rem;
      }
    @media screen and (max-width: 768px) {
      .timeline-block .timeline-content:before {
        /*horizontal line hide at screen size*/
        display: none; } }
  @media only screen and (min-width: 768px) {
    #timeline-education::before {
      left: 50%;
      margin-left: -2px;
      height: 77.1%;
      opacity: 0.4;
      background: #06A763; }
    .timeline-block {
      margin: -5em 0; }
      .timeline-block .card {
        margin: 0; }
      .timeline-block .timeline-dot {
        width: 50px;
        height: 50px;
        left: 50%;
        top: 0;
        z-index: 2;
        margin-left: -24px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden; }
      .timeline-block .timeline-content {
        width: 44%; }
        .timeline-block .timeline-content .timeline-title {
          max-width: 100%;
      	  font-size: 1em;}
      .timeline-block:nth-child(even) .timeline-content {
        float: right; }
      .timeline-block:nth-child(even) .timeline-content::before {
        top: 25px;
        left: auto;
        right: 101.2%;
        z-index: -2; } }

/*- SKILLS SECTION ----------------------------------------------------*/
#skills .card {
  background: #06A763; }
  #skills .card .skills-title {
    margin: 15px 0; }
    #skills .card .skills-title h6 {
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
  #skills .card .skillbar { 
    position: relative;
    display: block;
    margin-bottom: 17px;
    margin-top: 45px;
    width: 100%;
    padding: 0 0;
    background: #046c40;
    height: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color; }
    #skills .card .skillbar .skillbar-title {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1em; }
      #skills .card .skillbar .skillbar-title span {
        display: block;
        padding: 3px 0;
        margin-top: -25px;
        line-height: 15px;
        color: #fff; }
    #skills .card .skillbar .skillbar-bar {
      height: 4px;
      width: 0;
      background: #fff;
      overflow: hidden; }
    #skills .card .skillbar .skill-bar-percent {
      position: absolute;
      right: 1px;
      top: -20px;
      font-size: .8em;
      line-height: 15px;
      color: #fff; }

/*- BLOG    -----------------------( Back Here :P )-----------------------------------------------*/
#blog .blog {
  /*blog class*/
  position: relative;
  height: 21em; }
  #blog .blog:after {
    clear: both;
    content: '';
    display: block; }
  #blog .blog:before {
    background: blue;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  #blog .blog .content {
    /*blog content*/
    display: inline-block;
    padding: 40px;
    vertical-align: middle;
    width: 49.3%; }
    #blog .blog .content:last-child {
      margin: 0 2px 0 -2px; }
    #blog .blog .content h6 {
      margin-bottom: 0.5em;
    }
    #blog .blog .content p {
	  color: #757575;
    }
    #blog .blog .content .breadcrumb {
      padding: 0;
      background: transparent !important;
      font-size: 15px; }
    #blog .blog .content a {
      /*read more link*/
      border-bottom: 1px solid gainsboro; }
  #blog .blog .image {
    /*blog image*/
    display: inline-block;
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative; }
    #blog .blog .image:hover img {
      /*image hover*/
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05); }
    #blog .blog .image img {
      /*blog image*/
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      transition: .5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s; }

	#blog .blog .image:hover .image-overlay{opacity:1;z-index:22;}
	#blog .blog .image:hover img{transform:scale(1.05);-webkit-transform:scale(1.05);}
	#blog .blog .image:hover .comments{bottom:0;}
	#blog .blog .image img{display:block;height:100%;width:100%;position:absolute;z-index:1;transition:.5s;-webkit-transition:0.5s;}
	#blog .blog .image-overlay{position:absolute;background:rgba(0, 0, 0, 0.3);width:100%;height:100%;opacity:0;transition:.5s;}
	#blog .blog .image-overlay .comments{font-size:13px;padding:0 12px 8px 14px;position:absolute;right:0;bottom:-20%;z-index:3;color:#fff;transition:.5s;}
	#blog .blog .image-overlay .comments i{margin-left:6px;}

  #blog .odd {
    /*blog odd property*/
    text-align: left; }
    #blog .odd .image {
      float: left; }
      #blog .odd .image img {
        right: 0;
        top: 0; }
  #blog .even {
    /*blog even property*/
    text-align: right; }
    #blog .even .image {
      float: right; }
      #blog .even .image img {
        left: 0;
        top: 0; }
  @media screen and (max-width: 768px) {
    #blog .blog {
      /*blog class*/
      display: block;
      height: auto; }
      #blog .blog:last-child {
        margin-bottom: 0; }
      #blog .blog .image {
        /*image*/
        height: 20em;
        width: 100%; }
      #blog .blog .content {
        /*blog content*/
        text-align: center;
        width: 100%; } }

/*- SCROLL TO TOP SECTION ---------------------------------------------*/
#scrollup {
  border-radius: 0.25rem;
  color: #fff;
  height: 45px;
  width: 45px;
  cursor: pointer;
  font-size: 28px;
  background: #1976D2;
  border: 1px solid #1976D2;
  text-align: center;
  position: fixed;
  bottom: 21px;
  right: 18px;
  z-index: 1;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: none;
  transition: .3s; }

/*- BLog --------------------------------------------------------------*/
.single-page{margin-top:-290px;}
  .single-page .post .titleblog{padding:10px;background:#06A763;color:#fff;}
  .single-page .post .titleblog h1{font-size:27px;}
  .single-page .post .titleblog time{font-size:14px;float:right;margin-top:10px;}
  .single-page .post .post-body{padding:20px;}
  .single-page .post .post-body h2{font-size: 20px;}
